body {
  background-color: #ffffff;
  background-image: url('Images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

header {
  padding: 1%;
  background-color: #222222;
  border-bottom: 4px solid #000000;
  border-radius: 15px;
}

.flexcontainer {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 40vw;
}